/* Nền, chữ, căn lề, viết gộp: margin/padding theo thứ tự: Trên - Phải - Dưới - Trái */
body {
    background-color: #FCF8F3; /* Màu nền màu Kem */
    color: #685606;
    margin: 0;
    padding: 20px;
    font-family: 'Patrick Hand','Itim', 'cursive'; /* từ Google Font, tạm tắt 'Segoe UI', sans-serif*/
    font-size: 1.2rem; /* 1 rem tương đương 16px, tự động thích ứng */
    line-height: 1.6; /* Giãn dòng cho thoáng */
}
header, nav ul {
    display: flex;
    justify-content: center; /* Căn giữa tất cả các mục */
    gap: 20px;               /* Khoảng cách đều giữa các mục */
}
.logo-slogan-1, .logo-slogan-2, nav li {
    display: inline-block;
    margin-right: 15px; /* Khoảng cách giữa các mục cho 'An Lành' */
    vertical-align: top; /* Giúp các mục thẳng hàng nếu độ cao khác nhau */
}
.slogan-1, .slogan-2 {
    display: inline-block;
}
/* Menu ngang điều hướng dùng Flexbox - cách ngắn nhất hiện nay */
nav a {
    text-decoration: none;
    color: #8fb996; /* Xanh lá dịu tạo cảm giác thư thái giữa thiên nhiên */
    font-weight: bold;
    transition: 0.3s; /* Hiệu ứng đổi màu mượt mà */
}

/* Khi di chuột qua menu */
nav a:hover {
    color: #415d43; /* Màu xanh rừng sâu dùng cho tiêu đề, tạo sự vững chãi */
    text-decoration: underline;
}

/* Đường kẻ ngang trang nhã */
hr {
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0;
}

h1 span {
    display: block;
}